---
import PassDetails from "@/components/PassDetails.astro";
import SupportBlock from "@/components/SupportBlock.astro";
import type { PassView } from "@/types/pass-view";

export interface Props {
  view: PassView;
  hideScheduleInDetails: boolean;
  class?: string;
}

const { view, hideScheduleInDetails, class: className } = Astro.props;
---

<div class:list={["paso-page-fullwidth paso-fullwidth", className]}>
  <PassDetails
    class="anim-section anim-delay-5"
    view={view}
    hideScheduleInDetails={hideScheduleInDetails}
  />

  <SupportBlock />
</div>
