---
import VersionBadge from "@/components/VersionBadge.astro";

export interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class:list={["paso-page-version-row container-main flex justify-end sm:hidden", className]}>
  <VersionBadge compact />
</div>
